.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #25262c;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      background: #fff;
      
    }
  }
  
  .loginImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    object-fit: fill;

    @media screen and (max-width: 768px) {
      display: none;
      
    }
  }
  
  .loginFormContainer {
    background: #fff;
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  .loginForm h2 {
    margin-bottom: 20px;
  }
  
  .loginForm label {
    margin-bottom: 10px;
    width: 250px;
  }
  
  .loginForm input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginForm button {
    width: 150px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginForm button:hover {
    background-color: #0056b3;
  }
  
  .errorMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
  }

  .signupText {
    margin-top: 20px;
    text-align: center;
  }
  
  .signupLink {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .signupLink:hover {
    color: darkblue;
  }
  