.header {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: black;
  padding: 0 20px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0; 
}

.nav ul li {
  margin-right: 20px;
}


.cta .button {
  background-color: #00993f;
  color: #fff;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  font-weight: 600;
}

.cta .button:hover {
  background-color: #00874a; color: #fff; transform: scale(1.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes sparklesAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
}

.sparklesIcon:hover {
  animation: sparklesAnimation 1s infinite;
}


