/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Header/Header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header___60Q_ {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: black;
  padding: 0 20px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.Header_nav__0VWUe ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0; 
}

.Header_nav__0VWUe ul li {
  margin-right: 20px;
}


.Header_cta___OOgs .Header_button__NEltO {
  background-color: #00993f;
  color: #fff;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  font-weight: 600;
}

.Header_cta___OOgs .Header_button__NEltO:hover {
  background-color: #00874a; color: #fff; transform: scale(1.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes Header_sparklesAnimation__v1zhg {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Header_link__0sD6B{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
}

.Header_sparklesIcon__sRIkb:hover {
  animation: Header_sparklesAnimation__v1zhg 1s infinite;
}



/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Hero/styles.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.hero-container {
    padding: 50px;
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-description {
    font-size: 1.5rem;
    color: #666;
    margin-top: 60px;
    margin-bottom: 30px;
    text-wrap: nowrap;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  
  .hero-button {
    background-color: #00993f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .hero-button:hover {
    background-color: #00874a;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/Products/styles.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.products-container {
    padding: 20px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  .products-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex-direction: row;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .product-item h3 {
    margin: 10px 0;
  }
  
  .product-item p {
    font-weight: bold;
  }
  
  .product-item a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
  }
  
  @media screen and (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media screen and (max-width: 576px) {
    .products-grid {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
  
